<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<!-- 앞으로 org.zerock.domain은 안써도 됨 -->
		<package name="com.kobook.book.domain" />
		<package name="com.kobook.message.domain" />
		<package name="com.kobook.mypage.domain" />
		<package name="com.kobook.board.domain" />
		<package name="com.kobook.person.domain" />
		<package name="com.kobook.community.domain" />
		<package name="com.kobook.alarm.domain"/>
		<package name="com.kobook.recom.domain"/>
	</typeAliases>

</configuration>









