<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kobook.mappers.boardMapper">

	<insert id="insertBoard" parameterType="BoardVO">
		insert into board(
		board_id, board_hit, board_date, board_content, board_title,
		board_writer
		)values(
		board_id_seq.nextval, 0, SYSDATE, #{board_content}, #{board_title}, #{board_writer}
		)
	</insert>

	<select id="listCriteria" resultType="BoardVO">
    <![CDATA[
          select 
            *
          from 
            board             
      ]]>
		<!-- <include refid="search"></include> -->
         <![CDATA[     
          order by board_date desc
       ]]>

	</select>

	<select id="read" resultType="BoardVO">
		select
		*
		from
		board
		where board_id = #{board_id}
	</select>

	<select id="maxNum" resultType="int">
		select MAX(board_id) from board
	</select>

	<select id="countPaging" resultType="int">
   <![CDATA[
      select count(board_id) from board where board_id > 0         
   ]]>      
   
<!--     <include refid="search"></include> -->
   </select>


</mapper>











