<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kobook.mappers.bookMapper">

 	<insert id="create" parameterType="BookVO">
		insert into book(
			book_id,book_name,book_o_price,book_m_price,book_kind,book_edition,book_publish,book_hash,book_safe_yn,book_sell_state,book_content,
			book_date,book_status,person_id
			
		)values(
			book_id_seq.nextval, #{book_name}, #{book_o_price}, #{book_m_price},#{book_kind}, #{book_edition},#{book_publish},
			#{book_hash}, #{book_safe_yn}, #{book_sell_state}, #{book_content}, 
			SYSDATE,#{book_status},#{person_id}
		)		
	</insert>
	
	
</mapper>