<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kobook.mappers.chatbotMapper">

	<!-- 채팅 로그 기록  -->
 	<insert id="registerLog" parameterType="ChatlogVO">
		insert into chatlog(
			chatlog_id, person_id, chatlog_content, chatlog_date, chatlog_speaker
		)values(
			chatlog_id_seq.nextval, #{person_id}, #{chatlog_content}, SYSDATE, #{chatlog_speaker}
		)		
	</insert>
	
	<!-- 해당 회원의 채팅로그 뽑기(시,분 단위로) -->
 	<select id="listLog" resultType="ChatlogVO">
		select chatlog_id, person_id, chatlog_content, chatlog_speaker, to_char(chatlog_date, 'hh24:mi')
		from chatlog
		where person_id = #{person_id}
		order by chatlog_id
	</select>
	
</mapper>