<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kobook.mappers.personMapper">

	<!-- email로 사용자 id찾기 -->
 	<select id="findId" resultType="Integer">
 		select person_id
 		from person
 		where person_email = #{person_email}
 	</select>
 	
 	<!-- id로 사용자 email찾기 -->
 	<select id="findEmail" resultType="String">
 		select person_email
 		from person
 		where person_id = #{person_id}
 	</select>
 	
 	<!-- id로 사용자 이름 찾기 -->
 	<select id="findName" resultType="String">
 		select person_name
 		from person
 		where person_id = #{person_id}
 	</select>
	
	<select id="login" resultType="PersonVO">
		select person_email, person_pwd from person where person_email= #{person_email} and person_pwd=#{person_pwd}
	</select>
	
	<select id="loginCheck" parameterType="String" resultType="PersonVO">
		SELECT *
		FROM PERSON
		WHERE PERSON_EMAIL=#{person_email}
	</select>
	
</mapper>