<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.kobook.mappers.photoMapper">

	<insert id="photoInsert" parameterType="PhotoVO">
		insert into photo(
			photo_id, photo_title, photo_date, photo_content, person_id
			<if test="photo_thumbnail != null">, photo_thumbnail</if>
			)values(
			photo_id_seq.nextval, #{photo_title}, SYSDATE, #{photo_content}, #{person_id}
			<if test="photo_thumbnail != null">, #{photo_thumbnail}</if>
			)
	</insert>

	<insert id="photoAddAttach" parameterType="PhotoFileVO">
		insert into photo_attach(photo_file_name, photo_id)
			values(#{photo_file_name}, #{photo_id})
	</insert>

	<select id="photoMaxNum" resultType="int">
		select MAX(photo_id) from photo
	</select>

	<select id="photoList" resultType="PhotoVO" parameterType="SearchCriteria">
		<![CDATA[
			 select rownum as rn, photo.* from photo where photo_id > 0
		]]>
		<include refid="search" />
		<![CDATA[	  
			 order by photo_id DESC, rn DESC
 		]]>
	</select>

	<select id="photoCount" resultType="int" parameterType="SearchCriteria">
		<![CDATA[
			select count(*) from photo where photo_id > 0
		]]>
		<include refid="search" />
	</select>
			
 	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and photo_title like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				and photo_content like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( photo_title like '%'|| #{keyword}||'%' OR photo_content like
				'%'|| #{keyword}||'%')
			</if>
		</if>
	</sql>

	<select id="photoWriter" resultType="string" parameterType="int">
		select P.PERSON_NAME from photo pt join person P on pt.person_id =
		P.person_id
		where pt.photo_id = #{photo_id}
	</select>
	
	<select id="photoGetAttach" resultType="string">
		select photo_file_name from photo_attach where photo_id = #{photo_id}
	</select>
	
	<select id="photoSelect" parameterType="int" resultType="PhotoVO">
		select * from photo where photo_id = #{photo_id}
	</select>

	<update id="photoHitCount" parameterType="int">
		update photo set photo_hit=photo_hit+1 where photo_id = #{photo_id}
	</update>

	<update id="photoUpdate" parameterType="PhotoVO">
		update photo set photo_title=#{photo_title}, photo_content=#{photo_content}
		<if test="photo_thumbnail != null">, photo_thumbnail = #{photo_thumbnail} </if>
		where photo_id = #{photo_id}
	</update>
	
	<delete id="photoDelete" parameterType="int">
		DELETE FROM photo WHERE photo_id=#{photo_id}
	</delete>

	<delete id="photoDeleteAttach" parameterType="int">
		delete from photo_attach where photo_id=#{photo_id}
	</delete>

	<insert id="photoReplaceAttach">
		insert into photo_attach(photo_file_name, photo_id)
			values(#{photo_file_name},#{photo_id})
	</insert>

	<update id="photoHeartUp" parameterType="int">
		update photo set photo_heart = photo_heart+1 where photo_id =#{photo_id}
	</update>

	<update id="photoHeartDown" parameterType="int">
		update photo set photo_heart = photo_heart-1 where photo_id =#{photo_id}
	</update>
	
	<insert id="heartInsert" parameterType="PhotoHeartVO">
		insert into heart(heart_id, photo_id, person_id)
			values(heart_id_seq.nextval, #{photo_id}, #{person_id})
	</insert>
	
	<delete id="heartDelete" parameterType="int">
		delete from heart where heart_id = #{heart_id}
	</delete>
	
	<select id="getPhotoId" resultType="Integer">
		SELECT photo_id FROM heart WHERE heart_id = #{heart_id}
	</select>
	
	<select id="getHeartId" resultType="int">
		select heart_id from heart where person_id = #{person_id} and photo_id = #{photo_id}
	</select>
	
	<select id="photoPrev" resultType="Integer">
		<![CDATA[
			select max(photo_id) from photo where photo_id < #{photo_id}
		]]>
	</select>

	<select id="photoNext" resultType="Integer">
		<![CDATA[
			select min(photo_id) from photo where photo_id > #{photo_id}
		]]>	
	</select>
	
</mapper>















