<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kobook.mappers.recomMapper">

	<select id="getFavorite" resultType="FavoriteBookVO" parameterType="int">
		SELECT BOOK.BOOK_NAME,BOOK.BOOK_KIND,BOOK.BOOK_ID,FAVORITE.FAVORITE_ID,FAVORITE.FAVORITE_NAME,FAVORITE.PERSON_ID,FAVORITE.FAVORITE_MAJOR
		FROM FAVORITE ,BOOK 
		WHERE FAVORITE.PERSON_ID = #{person_id}
		AND BOOK.BOOK_ID = FAVORITE.BOOK_ID
	</select>

	<delete id="deleteFavorite" parameterType="FavoriteVO">
		DELETE FROM FAVORITE
		WHERE PERSON_ID=#{person_id}
		AND BOOK_ID=#{book_id}
	</delete>

</mapper>











