<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kobook.mappers.recomMapper">

 	<select id="getFavorite" resultType="FavoriteBookVO" parameterType="int" >
		SELECT BOOK.BOOK_NAME,BOOK.BOOK_ID,FAVORITE.FAVORITE_NAME,FAVORITE.PERSON_ID,FAVORITE.FAVORITE_MAJOR,FAVORITE.FAVORITE_RANK,BOOK.BOOK_IMG
		FROM FAVORITE ,BOOK 
		WHERE FAVORITE.PERSON_ID = #{person_id}
		AND BOOK.BOOK_ID = FAVORITE.BOOK_ID
    	ORDER BY FAVORITE.FAVORITE_RANK DESC
	</select>

	<delete id="deleteFavorite" parameterType="FavoriteVO">
		DELETE 
		FROM FAVORITE
		WHERE PERSON_ID=#{person_id}
		AND BOOK_ID=#{book_id}
	</delete>

	<select id="getRdata" resultType="RdataVO">
		SELECT * 
		FROM RDATA
	</select>
	
	<update id="updateFavoriteRank" parameterType="FavoriteVO">
		UPDATE FAVORITE 
		SET FAVORITE_RANK=#{favorite_rank} 
		WHERE PERSON_ID=#{person_id}
		AND BOOK_ID=#{book_id}
	</update>
	
 	<!-- <select id="favoriteList" resultType="String" parameterType="Integer">
		SELECT favorite_name
		FROM favorite
		WHERE person_id = #{person_id}
	</select>  -->
	
	<select id="getBigdata" resultType="RdataVO" parameterType="int">
		SELECT RDATA.RDATA_O, RDATA.RDATA_SUPPORT
		FROM FAVORITE, RDATA
		where FAVORITE.FAVORITE_NAME = RDATA.RDATA_M 
		and FAVORITE.PERSON_ID= #{person_id}
		and FAVORITE.FAVORITE_MAJOR='M'
	</select>
	
</mapper>











