<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kobook.mappers.visitMapper">

	<select id="paySum" resultType="Integer">
		select sum(pay_amount) from pay
		where pay_date like #{pay_date}
	</select>

	<select id="payDaySum" resultType="Integer">
		select sum(pay_amount) from	pay
		where pay_date like #{pay_date} 
		order by pay_date desc
	</select>

	<insert id="visitRegist" parameterType="Integer">
		insert into visit(visit_id, visit_date, person_id) 
		values(visit_id_seq.nextval, sysdate, #{person_id})
	</insert>
	
	<select id="visitCount" resultType="Integer">
		select count(distinct(person_id)) from visit where visit_date like sysdate
	</select>
	
	<select id="blackPersonList" resultType="PersonVO">
   		select * from person 
   		where person_kind = 'B'
   		order by person_id desc
   	</select>
	
</mapper>











